<div class="footer__top">
    <img src="{{ asset('build/assets/images/snp-logo.png')}}" alt="logo syndicat professionnels naturopathie">
    <img src="{{ asset('build/assets/images/logo-euronature.png')}}" alt="logo euronature">
    <img id="laFena" src="{{ asset('build/assets/images/logo-lefena.png')}}" alt="logo la fena">
    <img src="{{ asset('build/assets/images/logo-omnes.png')}}" alt="logo omnes">
</div>