<div class="footer__container">
    <div class="footer__container--items">
        <h4 class="titleH4">le cabinet</h4>
        <ul>
            <li>
                39 rue du Président Coty
            </li>
            <li>
                33440 Ambarès-et-Lagrave
            </li>
            <li>
                <a href="tel:0645675988">0645675988</a>
            </li>
        </ul>
    </div>
    <div class="footer__container--items">
        <h4 class="titleH4">informations</h4>
        <ul>
            <li>
                <a href="{{ path('legal_notice') }}">Mentions légales</a>
            </li>
            <li>
                <a href="{{ path ('privacy_policy')}}">Politique de confidentialité</a>
            </li>
        </ul>
    </div>
    <div class="footer__container--items">
        <h4 class="titleH4 social_title">suivez-moi</h4>
        <ul class="social_link">
            <li>
                <a href="https://www.facebook.com/NicolasGuidouxNaturopathe/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/nicolasguidoux_naturopathe/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://fr.linkedin.com/in/nicolas-guidoux-523822a3" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="copyright">
    <p>&copy; {{"now"|date('Y')}} - Nicolas Guidoux - Tous droits réservés - Réalisé par Mehdi REZGANE</p>
</div>
<div id="backToTop"></div>
